.tk
{
    border-radius: 20px;
    text-indent: 10px;
}
.dkbt
{
    border-radius: 20px;
    background-color: aqua;
    color: red;
}
.navi{
    height: 70px;
}
.logo{
    height: 60px;
    width: 70px;
}