.donate{
    text-align: center;
    margin-top: 20px;
}

.donate h4{
    background-color: rgb(79, 79, 166);
    color: white;
    width: 10%;
    margin: auto;
    border-radius: 5px;
}

.donate p{
    line-height: 30px;
    background-color: rgb(19, 14, 14);
    color : cyan;
    margin-top: 20px;
    width: 70%;
    text-align: center;
    border-radius: 10px;
}
.donate h3{
    color: red;
}
