.noidung
{
    background: rgb(120,124,156);
    background: linear-gradient(180deg, rgba(120,124,156,1) 0%, rgba(40,36,44,1) 100%);
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-bottom: 30px;
}

.search{
    width: 70%;
    background: white;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchbox{
    display: inline;
    width: 60%;
    padding: 5px;
    text-align: center;
}

.search select{
    padding: 5px;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 5px;
}
 .search button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(51, 51, 165);
    color: white;
    border-radius: 5px;
    margin-left: 5%;
}

.anhgame{
    width: 80%;
    border-radius: 5px;
}

.hd .hdtd h3{
    background-color: white;
    width: 70%;
    text-align: center;
    margin: auto;
    padding-bottom: 5px;
}

.hd .hdtd h3 a{
    text-decoration: none;
}

.hd .hdtd h3 a:hover{
    color: cyan;
}

.anhuser{
    width: 30px;
    border-radius: 15px;
}

.userprofile{
    text-decoration: none;
}

.lx{
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}
